<div class="pagi_nav">
                        <ul>
                            <li>
                                <a class="prev page_num" href="#"></a>
                            </li>
                            <li>
                                <span aria-current="page" class="page_num current">1</span>
                            </li>
                            <li>
                                <a href="#" class="page_num">2</a>
                            </li>
                            <li>
                                <a href="#" class="page_num">3</a>
                            </li>
                            <li>
                                <a href="#" class="page_num">4</a>
                            </li>
                            <li>
                                <a class="next page_num" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>