{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}
{% style %}
.pagi_nav {
  padding: 80px 0;
}
 .pagi_nav ul {
  text-align: center;
  display: inline-block;
}
 .pagi_nav ul li {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 0;
  padding: 0 5px;
}
 .pagi_nav ul li .page_num {
  border: 1px solid #ddd;
  color: #000000;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  text-align: center;
}
 .pagi_nav ul li .page_num:hover {
  background-color: #006689;
  color: #fff;
}
 .pagi_nav ul li .page_num.current {
  background-color: #4DA2E2;
  color: #fff;
  border: 1px solid #4DA2E2;
}
 .pagi_nav ul li .page_num.current:hover {
  background-color: #4DA2E2;
}
 .pagi_nav ul li a {
  font-size: 12px;
	position: relative;
}
 .pagi_nav ul li a.next:hover:before {
  background: url("bx-chevron-right_wht.svg") no-repeat;
  background-size: 100% auto;
}
 .pagi_nav ul li a.next:before {
  content: "";
  background: url("bx-chevron-right.svg") no-repeat;
  background-size: 100% auto;
  width: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: sub;
}
 .pagi_nav ul li a.prev:hover:before {
  background: url("bx-chevron-left_wht.svg") no-repeat;
  background-size: 100% auto;
}
 .pagi_nav ul li a.prev:before {
  content: "";
  background: url("bx-chevron-left.svg") no-repeat;
  background-size: 100% auto;
  width: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: sub;
}
.prev .icon {
    transform: rotate(90deg);
	position: absolute;
    height: 8px;
    top: 40%;
    left: 35%;
}
.next .icon {
    transform: rotate(-90deg);
	position: absolute;
    height: 8px;
    top: 40%;
    left: 35%;
}
{% endstyle %}
<div class="pagi_nav">
    <ul>
     	<li>
            <a class="prev page_num" href="{{ paginate.previous.url }}">
              {%- render 'icon-caret' -%}
          </a>
        </li>
       {% for part in paginate.parts %}
       <li>
           <a href="{{part.url}}" class="page_num">{{part.title}}</a>
       </li>
       {% endfor %}
       <li>
       		<a class="next page_num" href="{{ paginate.next.url }}">
              {%- render 'icon-caret' -%}
         </a>
       </li>
    </ul>
</div>