<div class="pagi_nav">
                        <ul>
                            <li>
                                <a class="prev page_num" href="{{ paginate.previous.url }}"></a>
                            </li>
<!--                             <li>
                                <span aria-current="page" class="page_num current">1</span>
                            </li> -->
                              {% for part in paginate.parts %}
                              <li>
                                  <a href="{{part.url}}" class="page_num">{{part.title}}</a>
                              </li>
                              {% endfor %}
                            <li>
                                <a class="next page_num" href="{{ paginate.next.url }}"></a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>