{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)

    Usage:
    {% render 'product-card' %}
{% endcomment %}
{%- if product_card_product.featured_media -%}
<a class="item_type" href="{{ product_card_product.url | default: '#' }}">
  <div class="item_content">
     <div class="thumb">
        <img src="{{ product_card_product.featured_media | img_url }}" alt="">
     </div>
     <div class="txt_desp">

        <h3>{{ product_card_product.title | escape }}</h3>
        <p></p>
     </div>
  </div>
</a>
{%- endif -%}
