<link rel="stylesheet" href="{{ 'address.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'validator.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'address.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'customer.js' | asset_url }}" defer="defer"></script>
{% style %}
	input[type=tel] {
	  width: 100%;
      height: 55px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      background-color: #fff;
      border: 1px solid #a6a4a4;
      color: #000;
      padding: 0 10px;
	}
.add {	
	background-color: black;
    color: white;
    padding: 13px 22px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.add:hover {
	background-color: white;
    color: black;
    padding: 13px 22px;
    border: 1px solid;
    cursor: pointer;
    font-size: 16px;
}
button[type=reset] {
	margin-left: 15px;
    padding: 13px 32px;
    background: white;
    border: 1px solid;
    cursor: pointer;
}

{% endstyle %}
<div class="customer addresses" data-customer-addresses>
                <h1>Address</h1>
                <a href="">Return account</a>
                <div data-address>
                    <button type="button" aria-expanded="false" aria-controls="AddAddress">
                        Add new address
                    </button>
                    <div id="AddAddress">
                        <h2 id="AddressNewHeading">Create new address</h2>
                        <form action="">
                            <div class="field">
                                <div class="title">Name</div>
                                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="" autocomplete="given-name" placeholder="First name">
                                <input type="text" id="AddressLastNameNew" name="address[last_name]" value="" autocomplete="family-name" placeholder="Lasst name">
                            </div>
                            <div class="field">
                                <div class="title">Company Name</div>
                                <input type="text" id="AddressCompanyNew" name="address[company]" value="" autocomplete="organization" placeholder="">
                            </div>
                            <div class="field">
                                <div class="title">Phone number</div>
                                <input type="tel" id="AddressPhoneNew" name="address[phone]" value="" autocomplete="tel" placeholder="">
                            </div>
                            <div class="field">
                                <div class="title">Post code</div>
                                <input type="text" id="AddressZipNew" name="address[zip]" value="" autocapitalize="characters" autocomplete="postal-code" placeholder="">
                            </div>
                            <div class="create_box_select">
                                <div class="title">Country / Region</div>
                                <div class="select">
                                    <select id="AddressCountryNew" name="address[country]" data-default="" autocomplete="country">
                                        <option value="Ha Noi">Ha Noi</option>
                                        <option value="Ho Chi Minh">Ho Chi Minh</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="title">Municipalities </div>
                                <input type="text" id="AddressCityNew" name="address[city]" value="" autocomplete="address-level2" placeholder="City">
                            </div>
                            <div class="field">
                                <div class="title">Address</div>
                                <input type="text" id="AddressAddress1New" name="address[address1]" value="" autocomplete="address-line1" placeholder="Address">
                            </div>
                            <div >
                                <input type="checkbox" value="" id="policy">
                                <label for="policy" class="checkbox normal">Set this address as the default</label>
                            </div>
                            <button>Add</button>
                            <button type="reset">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>