<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>


<div id="slick_main">
    <div class="slider-wrap">
        <div class="image-slider">
        {%- for block in section.blocks -%}
            <a href="{{ block.settings.button_link}}">
              <div class="img-wrap">
                  <img class="util_pc" src="{{ block.settings.image | img_url: 'master'}}" alt="">
                  <img class="util_sp" src="{{ block.settings.image | img_url: 'master'}}" alt="">
              </div>
            </a>
            {% endfor %}
        </div>
        <div class="dot_slider_main">
            <span class="start-num">01</span>
            <div class="slider-progress">
                <span></span>
            </div>
                <span class="end-num">03</span>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Banner slider",
  "max_blocks": 3,
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label":"Title"
        }
      ]
    }
  ]
}
{% endschema %}

