<div id="wrapper" class="blog_detail">
    <div class="inner">
        <div class="upper">
            <div class="navi_top">
                <ul>
                    <li><a href="/"><img src="assets/images/bx-home.svg" alt=""></a></li>
                    <li><span class="current"></span><a href="/">Blog</a></li>
                    <li><span class="current">ウォールシェルフウォールシェルフ</span></li>
                </ul>
            </div>
        </div>
        <!-- BLOG -->
        <section class="section" id="blog_detail">
            <div class="inner">
                <div class="entry_content">
                    <div class="entry_thumb">
                        <img src="assets/images/img_blog.jpg" alt="">
                    </div>
                    <div class="info_content_post">
                        <div class="name_cat">カエルエックス</div>
                        <div class="time">2021.08.26</div>
                    </div>
                    <h2 class="tlt_blog">ウォールシェルフウォールシェルフ</h2>
                    <div class="txt_desp">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="sns_social">
                        <ul>
                            <li class="share_twitter">
                                <a target="_blank" href="https://twitter.com/share?text=&url=">Twitter</a>
                            </li>
                            <li class="share_facebook">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">Facebook</a>
                            </li>
                            <li class="share_B">
                                <a target="_blank" href="https://b.hatena.ne.jp/entry/panel/?url=">はてブ</a>
                            </li>
                            <li class="share_Pocket">
                                <a target="_blank" href="https://getpocket.com/save?url=">Pocket</a>
                            </li>
                            <li class="share_line">
                                <a target="_blank" href="https://social-plugins.line.me/lineit/share?url="> LINE</a>
                            </li>
                            <li class="share_kobi">
                                <a id="copy" href="javascript:void(0)">コピー</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /BLOG -->

        <!-- Related Posts -->
        <section class="section" id="related_post">
            <div class="inner">
                <h2 class="tlt_section">Related Posts</h2>
                <div class="list_item">
                    <ul>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item_type" href="#">
                                <div class="item_content">
                                    <div class="thumb">
                                        <img src="assets/images/img.jpg" alt="">
                                    </div>
                                    <div class="txt_desp">
                                        <h3>ウォールシェルフ</h3>
                                        <p>$3000<span class="sold_out">Out stock</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- /Related Posts -->
    </div>
</div>
