<section class="section" id="conlection">
    <div class="inner">
        <div class="list_conlection">
            <ul>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="txt_desp">
                                <p>Color your everyday life</p>
                                <h2>GOODS</h2>
                            </div>
                            <div class="thumb">
                                <img src="assets/images/conletc_01.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="txt_desp">
                                <p>Color your everyday life</p>
                                <h2>SOFA</h2>
                            </div>
                            <div class="thumb">
                                <img src="assets/images/conletc_02.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="txt_desp">
                                <p>Color your everyday life</p>
                                <h2>50% OFF</h2>
                            </div>
                            <div class="thumb">
                                <img src="assets/images/conletc_03.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="txt_desp">
                                <p>Color your everyday life</p>
                                <h2>STORAGE</h2>
                            </div>
                            <div class="thumb">
                                <img src="assets/images/conletc_04.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="txt_desp">
                                <p>Color your everyday life</p>
                                <h2>CHAIR</h2>
                            </div>
                            <div class="thumb">
                                <img src="assets/images/conletc_05.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item_type" href="#">
                        <div class="item_content">
                            <div class="txt_desp">
                                <p>Color your everyday life</p>
                                <h2>LIGHT</h2>
                            </div>
                            <div class="thumb">
                                <img src="assets/images/conletc_06.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>
{% schema %}
{
    "name": "main-collection",
    "settings": [
        {
            "type": "checkbox",
            "id": "collection",
            "label": "Collection"
        }
    ]
}
{% endschema %}