<div id="wrapper" class="collection">
  
        <div class="inner">
            <div class="txt_desp">
                <h3>Shop Collection</h3>
            </div>
            <div class="collection_section">
                <div class="collection_filters">
                    <div class="categories util_pc">
                        <div class="txt_desp">
                            <h3>Categories</h3>
                        </div>
                        <ul class="list_items">
                            <li>
                                <a href="">
                                    <p>Category 01</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 02</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 03</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 04</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 05</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Category 06</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="filters" id="filters">
                        <div class="txt_desp util_pc">
                            <h3>Filter By</h3>
                        </div>
                        <div class="facets_wrapper">
                            <div class="txt_desp util_sp">
                                <h3>Filter :</h3>
                            </div>
                            <div class="availability">
                                <div class="ttl_filters" id="filter_availability">
                                    <p>Availability</p>
                                    <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                </div>
                                <div class="facets_display" id="content_availability">
                                    <ul class="facets_list">
                                        <li class="facets_item">
                                            <label for="">
                                                <input type="checkbox" value="in stock" >
                                                <p class="txt_label">In stock (5)</p>
                                            </label>
                                        </li>
                                        <li class="facets_item">
                                            <label for="">
                                                <input type="checkbox" value="out stock">
                                                <p class="txt_label">Out of stock (5)</p>
                                            </label>
                                        </li>
                                    </ul>
                                    <div class="reset" >
                                        <a href="">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <div class="ttl_filters" id="filter_price">
                                    <p>Price</p>
                                    <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                </div>
                                <div class="facets_display" id="content_price">
                                    <div class="facets_price">
                                        <span class="field-currency">$</span>
                                        <div class="field">
                                            <input class="field_input" type="text" value="" id="price-min">
                                        </div>
                                        <span class="field-currency">$</span>
                                        <div class="field">
                                            <input class="field_input" type="text" value="" id="price-max">
                                        </div>
                                    </div>
                                    <div class="reset">
                                        <a href="">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <div class="ttl_filters" id="filter_color">
                                    <p>Color</p>
                                    <img class="util_sp" src="{{'chevron-down.png' | asset_url }}" alt="">
                                </div>
                                <div class="facets_display" id="content_color">
                                    <ul class="facets_list">
                                        <li class="facets_item">
                                            <label for="">
                                                <input type="checkbox" value="color 01">
                                                <p class="txt_label">Color 01 (5)</p>
                                            </label>
                                        </li>
                                        <li class="facets_item">
                                            <label for="">
                                                <input type="checkbox" value="color 02">
                                                <p class="txt_label">Color 02 (5)</p>
                                            </label>
                                        </li>
                                        <li class="facets_item">
                                            <label for="">
                                                <input type="checkbox" value="color 03">
                                                <p class="txt_label">Color 03 (5)</p>
                                            </label>
                                        </li>
                                        <li class="facets_item">
                                            <label for="">
                                                <input type="checkbox" value="color 04">
                                                <p class="txt_label">Color 04 (5)</p>
                                            </label>
                                        </li>
                                        <li class="facets_item" value="color 05">
                                            <label for="">
                                                <input type="checkbox">
                                                <p class="txt_label">Color 05 (5)</p>
                                            </label>
                                        </li>
                                        <li class="facets_item" value="color 06">
                                            <label for="">
                                                <input type="checkbox">
                                                <p class="txt_label">Color 06 (5)</p>
                                            </label>
                                        </li>
                                    </ul>
                                    <div class="reset">
                                        <a href="">Reset</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper util_sp">
                            <div class="collection_product_wrap ">
                                <div class="collection_product_count">
                                    <p>250 products</p>
                                </div>
                                <div class="collection_product_sortby">
                                    <label for="">Sort by:</label>
                                    <div class="select">
                                        <select name="sort_by" class="selected">
                                            <option value="Default">Default</option>
                                            <option value="LowToHigh">Price, low to high</option>
                                            <option value="HighToLow">Price, high to low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collection_product_grid">
                    <div class="collection util_pc">
                        <div class="collection_banner">
                            <img src="{{'banner_arrival.jpg' | asset_url }}" alt="">
                        </div>
                    </div>
                    <div class="collection_product">
                        <div class="wrapper  util_pc">
                            <div class="collection_product_wrap">
                                <div class="collection_product_count">
                                    <p>There are <span>250 products</span> available </p>
                                </div>
                                <div class="collection_product_sortby">
                                    <label for="">Sort by:</label>
                                    <div class="select">
                                        <select name="sort_by" class="selected">
                                            <option value="Default">Default</option>
                                            <option value="LowToHigh">Price, low to high</option>
                                            <option value="HighToLow">Price, high to low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collection_product_list">
                            <div class="inner">
                                <div class="loading_overlay gradient"></div>
                                <div class="list_item" >
                                    <ul id="list_collection" class="items">
                                       {%- for product in collection.products -%}
                                      		<li data-category="" data-price="">
                                              <a class="item_type" href="#">
                                                <div class="item_content">
                                                  <div class="thumb">
                                                    <img src="${n.image}" alt="">
                                                  </div>
                                                  <div class="txt_desp">
                                                    <h3>${n.name}</h3>
                                                    <p>${n.price}</p>
                                                  </div>
                                                </div>
                                              </a>
                                            </li>
                                      {%- endfor -%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
