<section class="section" id="recommend">
    <div class="inner">
        <h2 class="tlt_section">RECOMMEND</h2>
        <div class="slider">
            <div class="list_item">
                <ul id="list_recommend">
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="assets/images/img.jpg" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000<span class="sold_out">Out stock</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="assets/images/img.jpg" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="assets/images/img.jpg" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="assets/images/img.jpg" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="slide">
                        <a class="item_type" href="#">
                            <div class="item_content">
                                <div class="thumb">
                                    <img src="assets/images/img.jpg" alt="">
                                </div>
                                <div class="txt_desp">
                                    <h3>ウォールシェルフ</h3>
                                    <p>$3000</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="prev_next">
                    <a class="prev" onclick="prev(this)">
                        <img src="assets/images/arrow-left.svg" alt="">
                    </a>
                    <a class="next" onclick="next(this)">
                        <img src="assets/images/arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>