.upper .navi_top {
	width: 88.888%;
}
.addresses {
  background: #f7f7f7;
  padding: 30px 60px;
  max-width: 1200px;
  width: 88.888%;
  margin: 0 auto 80px;
  text-align: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 1000px) {
  .addresses {
    padding: 3vw 6vw;
    max-width: 100%;
    margin: 0 auto 8vw;
  }
}
@media (max-width: 768px) {
  .addresses {
    padding: 3.90625vw 7.8125vw;
    margin: 0 auto 10.4166666667vw;
  }
}

.addresses h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .addresses h1 {
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 1vw;
  }
}
@media (max-width: 768px) {
  .addresses h1 {
    font-size: 5.2083333333vw;
    line-height: 6.5104166667vw;
    margin-bottom: 1.3020833333vw;
  }
}

.addresses a {
  color: black;
  text-decoration: underline;
  margin-bottom: 30px;
  display: block;
  text-underline-offset: 3px;
}
@media (max-width: 1000px) {
  .addresses a {
    margin-bottom: 3vw;
  }
}
@media (max-width: 768px) {
  .addresses a {
    margin-bottom: 3.90625vw;
  }
}

.addresses div button[type=button] {
  background: black;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin-bottom: 50px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .addresses div button[type=button] {
    padding: 1.5vw 3vw;
    font-size: 1.8vw;
    margin-bottom: 5vw;
  }
}
@media (max-width: 768px) {
  .addresses div button[type=button] {
    padding: 1.953125vw 3.90625vw;
    font-size: 2.34375vw;
    margin-bottom: 6.5104166667vw;
  }
}

.addresses div h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin: 20px 0;
}
@media (max-width: 1000px) {
  .addresses div h2 {
    font-size: 2.5vw;
    line-height: 3vw;
    margin: 2vw 0;
  }
}
@media (max-width: 768px) {
  .addresses div h2 {
    font-size: 3.225vw;
    line-height: 3.906vw;
    margin: 2.604vw 0;
  }
}

.addresses div form {
  max-width: 500px;
  margin-bottom: 60px;
  text-align: left;
}
@media (max-width: 1000px) {
  .addresses div form {
    max-width: 50vw;
    margin-bottom: 6vw;
  }
}
@media (max-width: 768px) {
  .addresses div form {
    max-width: 65.1041666667vw;
    margin-bottom: 7.8125vw;
  }
}

.addresses div form .field {
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .addresses div form .field {
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .field {
    margin-bottom: 2.6041666667vw;
  }
}

.addresses div form .field label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .addresses div form .field label {
    margin-bottom: 0.5vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .field label {
    margin-bottom: 0.6510416667vw;
  }
}

.addresses div form .field input[type=tel] {
  width: 500px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #a6a4a4;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .addresses div form .field input[type=tel] {
    width: 50vw;
    height: 5.5vw;
    border-radius: 0.5vw;
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .field input[type=tel] {
    width: 65.1041666667vw;
    height: 7.1614583333vw;
    border-radius: 0.6510416667vw;
    margin-bottom: 2.6041666667vw;
  }
}

.addresses div form .field div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addresses div form .field div input:nth-child(01) {
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .addresses div form .field div input:nth-child(01) {
    margin-right: 1vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .field div input:nth-child(01) {
    margin-right: 1.3020833333vw;
  }
}

.addresses div form .country {
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .addresses div form .country {
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .country {
    margin-bottom: 2.6041666667vw;
  }
}

.addresses div form .country label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .addresses div form .country label {
    margin-bottom: 0.5vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .country label {
    margin-bottom: 0.6510416667vw;
  }
}

.addresses div form .country .select {
  position: relative;
}

.addresses div form .country .select select {
  width: 500px;
  height: 55px;
  border-radius: 5px;
  padding: 0 10px;
}
@media (max-width: 1000px) {
  .addresses div form .country .select select {
    width: 50vw;
    height: 5.5vw;
    border-radius: 0.5vw;
    padding: 0vw 1vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .country .select select {
    width: 65.1041666667vw;
    height: 7.1614583333vw;
    border-radius: 0.6510416667vw;
    padding: 0vw 1.3020833333vw;
  }
}

.addresses div form .country .select svg {
  width: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
}
@media (max-width: 1000px) {
  .addresses div form .country .select svg {
    width: 1.5vw;
    right: 1vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .country .select svg {
    width: 1.953125vw;
    right: 1.3020833333vw;
  }
}

.addresses div form .default_address {
  margin-bottom: 25px;
}
@media (max-width: 1000px) {
  .addresses div form .default_address {
    margin-bottom: 2.5vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .default_address {
    margin-bottom: 3.2552083333vw;
  }
}

.addresses div form .default_address label {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .addresses div form .default_address label {
    font-size: 1.4vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .default_address label {
    font-size: 2.34333vw;
  }
}

.addresses div form .btn button:first-child {
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 13px 25px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}
@media (max-width: 1000px) {
  .addresses div form .btn button:first-child {
    border-radius: 0.5vw;
    padding: 1.3vw 2.5vw;
    font-size: 1.6vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .btn button:first-child {
    border-radius: 0.6510416667vw;
    padding: 1.6927083333vw 3.2552083333vw;
    font-size: 2.0833333333vw;
  }
}

.addresses div form .btn button:first-child:hover {
  color: black;
  background-color: white;
  border: 1px solid;
}

.addresses div form .btn button:last-child {
  color: black;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 13px 25px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .addresses div form .btn button:last-child {
    border-radius: 0.5vw;
    padding: 1.3vw 2.5vw;
  }
}
@media (max-width: 768px) {
  .addresses div form .btn button:last-child {
    border-radius: 0.6510416667vw;
    padding: 1.6927083333vw 3.2552083333vw;
  }
}

.addresses ul li button {
  cursor: pointer;
  border: none;
  border-right: 1px solid #dddddd;
  background: none;
  font-weight: 600;
  padding-right: 15px;
}
@media (max-width: 1000px) {
  .addresses ul li button {
    padding-right: 1.5vw;
  }
}
@media (max-width: 768px) {
  .addresses ul li button {
    padding-right: 1.953125vw;
  }
}

.addresses ul li button label[Delete] {
  border-right: none;
}

.addresses ul li .edit {
  padding-top: 30px;
}
@media (max-width: 1000px) {
  .addresses ul li .edit {
    padding-top: 3vw;
  }
}
@media (max-width: 768px) {
  .addresses ul li .edit {
    padding-top: 3.90625vw;
  }
}

.addresses ul p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .addresses ul p {
    font-size: 2.5vw;
    line-height: 3.8vw;
    margin-bottom: 1.5vw;
  }
}
@media (max-width: 768px) {
  .addresses ul p {
    font-size: 3.225vw;
    line-height: 5.208vw;
    margin-bottom: 1.953125vw;
  }
}

input[type=text], input[type=tel], select {
  outline: none;
}

li[data-address] {
  border-top: 1px solid #dddddd;
  margin-bottom: 0 !important;
  padding: 15px 0;
}
@media (max-width: 1000px) {
  li[data-address] {
    padding: 1.5vw;
  }
}
@media (max-width: 768px) {
  li[data-address] {
    padding: 1.953125vw;
  }
}
