html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.addresses {
  padding: 15% 30px 0;
    max-width: 1200px;
    width: 88.888%;
    margin: 0 auto 80px;
  text-align: left;
}
.addresses h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 10px;
}
.addresses a {
  color: black;
  text-decoration: underline;
  margin-bottom: 30px;
  display: block;
  text-underline-offset: 3px;
}
.addresses div button[type=button] {
  background: black;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin-bottom: 50px;
  cursor: pointer;
}
.addresses div h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.addresses div form {
  max-width: 500px;
  margin: 0 auto 80px;
  text-align: left;
}
.addresses div form .field {
  margin-bottom: 20px;
}
.addresses div form .field label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}
.addresses div form .field input[type=tel] {
  width: 500px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #a6a4a4;
  margin-bottom: 20px;
}
.addresses div form .field div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addresses div form .field div input:nth-child(01) {
  margin-right: 10px;
}
.addresses div form .country {
  margin-bottom: 20px;
}
.addresses div form .country label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}
.addresses div form .country .select {
  position: relative;
}
.addresses div form .country .select select {
  width: 500px;
  height: 55px;
  border-radius: 5px;
  padding: 0 10px;
}
.addresses div form .country .select svg {
  width: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
}
.addresses div form .default_address {
  margin-bottom: 25px;
}
.addresses div form .default_address label {
  font-size: 14px;
  font-weight: 500;
}
.addresses div form .btn button:first-child {
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 13px 25px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}
.addresses div form .btn button:first-child:hover {
  color: black;
  background-color: white;
  border: 1px solid;
}
.addresses div form .btn button:last-child {
  color: black;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 13px 25px;
  cursor: pointer;
}
.addresses ul li button {
    cursor: pointer;
    border: none;
    border-right: 1px solid #dddddd;
    background: none;
  font-weight: 600;
}
.addresses ul li button:last-child {
	border-right: none;
}
.addresses ul li .edit {
  padding-top: 30px;
}
.addresses ul p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
  font-weight: 500;
}
input[type=text],input[type=tel], select{
	outline: none;
}
li[data-address] {
border-top: 1px solid #dddddd;
  margin-bottom: 0 !important;
  padding: 15px 0;
}