@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
#wrapper.address {
  padding-top: 14%; }
  #wrapper.address .inner section.section {
    max-width: 1200px;
    width: 88.888%;
    margin: 0 auto 80px; }
    @media (max-width: 1000px) {
      #wrapper.address .inner section.section {
        max-width: 100%;
        margin: 0 auto 8vw; } }
    @media (max-width: 768px) {
      #wrapper.address .inner section.section {
        margin: 0 auto 10.416vw; } }
    #wrapper.address .inner section.section .edit_content {
      background: #f7f7f7;
      padding: 70px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      @media (max-width: 1000px) {
        #wrapper.address .inner section.section .edit_content {
          padding: 7vw; } }
      @media (max-width: 768px) {
        #wrapper.address .inner section.section .edit_content {
          padding: 9.114vw; } }
      #wrapper.address .inner section.section .edit_content .form_name {
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.35px;
        line-height: 45px;
        margin-bottom: 30px; }
        @media (max-width: 1000px) {
          #wrapper.address .inner section.section .edit_content .form_name {
            font-size: 2.4vw;
            line-height: 4.5vw;
            margin-bottom: 6vw; } }
        @media (max-width: 768px) {
          #wrapper.address .inner section.section .edit_content .form_name {
            font-size: 3.645vw;
            line-height: 5.859vw;
            margin-bottom: 7.8125vw; } }
      #wrapper.address .inner section.section .edit_content .form_edit form {
        text-align: left; }
        #wrapper.address .inner section.section .edit_content .form_edit form .form_item {
          margin-bottom: 35px; }
          @media (max-width: 1000px) {
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item {
              margin-bottom: 3.5vw; } }
          @media (max-width: 768px) {
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item {
              margin-bottom: 4.557vw; } }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .title {
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            margin-bottom: 5px; }
            @media (max-width: 1000px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .title {
                font-size: 3.4vw;
                line-height: 4.5vw;
                margin-bottom: 0.5vw; } }
            @media (max-width: 768px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .title {
                font-size: 3.906vw;
                line-height: 5.859vw;
                margin-bottom: 0.651vw; } }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.name {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.name input#first_name, #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.name input#last_name {
              width: 48.888%; }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone input#first_block_phone_number, #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone input#second_block_phone_number, #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone input#third_block_phone_number {
              width: 8%; }
            @media (max-width: 768px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone input {
                width: 20%; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone .peg {
              border-bottom: 1px solid;
              width: 20px;
              margin: 27px 16px; }
              @media (max-width: 1000px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone .peg {
                  width: 2vw;
                  margin: 2.7vw 1.6vw; } }
              @media (max-width: 768px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.phone .peg {
                  width: 2.604vw;
                  margin: 3.515vw 2.083vw; } }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office input#first_block_post_number {
              width: 8%; }
            @media (max-width: 768px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office input {
                width: 20%; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office input#second_block_post_number {
              width: 8%;
              margin-right: 20px; }
              @media (max-width: 1000px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office input#second_block_post_number {
                  margin-right: 2vw; } }
              @media (max-width: 768px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office input#second_block_post_number {
                  width: 20%;
                  margin-right: 2.604vw; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office .peg {
              border-bottom: 1px solid;
              width: 20px;
              margin: 27px 16px; }
              @media (max-width: 1000px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office .peg {
                  width: 2vw;
                  margin: 2.7vw 1.6vw; } }
              @media (max-width: 768px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office .peg {
                  width: 2.604vw;
                  margin: 3.906vw 2.083vw; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office .search_address {
              color: #fff;
              font-size: 16px;
              padding: 15px;
              border-radius: 5px;
              line-height: 25px;
              background: #121212; }
              @media (max-width: 1000px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office .search_address {
                  font-size: 1.6vw;
                  padding: 1.5vw;
                  border-radius: 0.5vw;
                  line-height: 3.5vw; } }
              @media (max-width: 768px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.post_office .search_address {
                  font-size: 2.083vw;
                  padding: 1.953vw;
                  border-radius: 0.651vw;
                  line-height: 4.557vw; } }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.nation select {
            width: 48.888%;
            height: 55px;
            border-radius: 5px;
            font-size: 12px;
            color: #666666c2; }
            @media (max-width: 1000px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.nation select {
                height: 5.5vw;
                border-radius: 0.5vw;
                font-size: 1.2vw; } }
            @media (max-width: 768px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.nation select {
                height: 7.161vw;
                border-radius: 0.651vw;
                font-size: 2.343vw; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.nation select::after {
              content: "";
              background-color: #000000;
              width: 40px;
              height: 10px;
              display: block;
              float: right;
              border-radius: 6px 10px 10px 6px; }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.city input#city {
            width: 48.888%; }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.street input#street {
            width: 48.888%; }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input {
            margin: 0 auto;
            display: inline-block;
            position: relative;
            padding: 0 0 14px 23px;
            outline: none;
            line-height: 30px;
            font-weight: 500; }
            @media (max-width: 1000px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input {
                padding: 0 0 2.4vw 3.8vw;
                line-height: 3vw; } }
            @media (max-width: 768px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input {
                padding: 0 0 3.125vw 4.949vw; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input::before {
              content: '';
              display: block;
              width: 15px;
              height: 15px;
              border: 1px solid #121212;
              position: absolute;
              top: 0;
              left: 0;
              cursor: pointer; }
              @media (max-width: 1000px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input::before {
                  width: 2.4vw;
                  height: 2.4vw; } }
              @media (max-width: 768px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input::before {
                  width: 3.125vw;
                  height: 3.125vw; } }
            #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input:checked::after {
              content: '';
              display: block;
              width: 15px;
              height: 15px;
              background-image: url(../images/check_white.png);
              position: absolute;
              top: 0;
              left: 0;
              background-size: 100% auto;
              background-color: #000000;
              border: 1px solid #121212;
              cursor: pointer; }
              @media (max-width: 1000px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input:checked::after {
                  width: 2.4vw;
                  height: 2.4vw; } }
              @media (max-width: 768px) {
                #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address input:checked::after {
                  width: 3.125vw;
                  height: 3.125vw; } }
          #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address label {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px; }
            @media (max-width: 1000px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address label {
                font-size: 2.4vw;
                line-height: 3vw; } }
            @media (max-width: 768px) {
              #wrapper.address .inner section.section .edit_content .form_edit form .form_item .input_content.default_address label {
                font-size: 3.125vw;
                line-height: 3.906vw; } }
        #wrapper.address .inner section.section .edit_content .form_edit form input.update {
          display: block;
          width: 15%;
          font-size: 16px;
          height: 55px;
          font-weight: 500;
          border: 1px solid;
          border-radius: 5px;
          margin-bottom: 30px;
          background: #000000;
          color: #fff;
          cursor: pointer; }
          @media (max-width: 1000px) {
            #wrapper.address .inner section.section .edit_content .form_edit form input.update {
              font-size: 2.6vw;
              height: 5.5vw;
              width: 25%;
              border-radius: 0.5vw;
              margin-bottom: 3vw; } }
          @media (max-width: 768px) {
            #wrapper.address .inner section.section .edit_content .form_edit form input.update {
              font-size: 3.385vw;
              height: 7.161vw;
              border-radius: 0.651vw;
              margin-bottom: 3.906vw; } }
          #wrapper.address .inner section.section .edit_content .form_edit form input.update:hover {
            color: #000000;
            background: #fff; }
        #wrapper.address .inner section.section .edit_content .form_edit form a.cancel {
          font-size: 16px;
          color: black;
          font-weight: 500;
          cursor: pointer; }
          @media (max-width: 1000px) {
            #wrapper.address .inner section.section .edit_content .form_edit form a.cancel {
              font-size: 2.6vw; } }
          @media (max-width: 768px) {
            #wrapper.address .inner section.section .edit_content .form_edit form a.cancel {
              font-size: 3.385vw; } }
