/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
#wrapper.blog_detail {
  padding-top: 14%;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner {
  max-width: 850px;
  width: 100%;
  margin: 0 auto 80px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner {
    max-width: 85vw;
    width: 88.888%;
    margin: 0 auto 8vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner {
    max-width: 110.6770833333vw;
    margin: 0 auto 10.4166666667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post {
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post {
    margin-bottom: 2.6041666667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post .name_cat {
  color: #666666;
  font-size: 10px;
  line-height: 15px;
  text-align: left;
  border-radius: 14px;
  padding: 4px 13px;
  border: 1px solid #666666;
  letter-spacing: 1px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post .name_cat {
    font-size: 1vw;
    line-height: 1.5vw;
    border-radius: 1.4vw;
    padding: 0.4vw 1.3vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post .name_cat {
    font-size: 1.3020833333vw;
    line-height: 1.953125vw;
    border-radius: 1.8229166667vw;
    padding: 0.5208333333vw 1.6927083333vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post .time {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #919191;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post .time {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .info_content_post .time {
    font-size: 1.953125vw;
    line-height: 1.953125vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .tlt_blog {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .tlt_blog {
    font-size: 3.2vw;
    margin-bottom: 4vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .tlt_blog {
    font-size: 4.1666666667vw;
    margin-bottom: 5.2083333333vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .entry_thumb {
  max-width: 850px;
  margin: 0 auto 50px;
  position: relative;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .entry_thumb {
    max-width: 85vw;
    margin: 0 auto 5vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .entry_thumb {
    max-width: 110.6770833333vw;
    margin: 0 auto 6.5104166667vw;
  }
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .entry_thumb img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .txt_desp {
  font-size: 14px;
  line-height: 2.2;
  text-align: left;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .txt_desp {
    font-size: 1.4vw;
    margin-bottom: 5vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .txt_desp {
    font-size: 1.8229166667vw;
    margin-bottom: 6.5104166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .txt_desp p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .txt_desp p {
    margin-bottom: 2vw;
    font-size: 1.6vw;
    line-height: 3vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .txt_desp p {
    margin-bottom: 2.6041666667vw;
    font-size: 2.34375vw;
    line-height: 3.90625vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social {
  max-width: 850px;
  width: 100%;
  margin: 0 auto 50px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social {
    max-width: 85vw;
    margin: 0 auto 5vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social {
    max-width: 110.6770833333vw;
    margin: 0 auto 6.5104166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -6px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul {
    margin: 0 -0.6vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul {
    margin: 0 -0.78125vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li {
  width: 33.33%;
  border-radius: 5px;
  position: relative;
  padding: 0 6px;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li {
    border-radius: 0.5vw;
    padding: 0 0.6vw;
    margin-bottom: 1vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li {
    border-radius: 0.6510416667vw;
    padding: 0 0.78125vw;
    margin-bottom: 1.3020833333vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  border-radius: 8px;
  height: 52px;
  line-height: 52px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li a {
    font-size: 1.8vw;
    border-radius: 0.8vw;
    height: 5.2vw;
    line-height: 5.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li a {
    font-size: 2.34375vw;
    border-radius: 1.0416666667vw;
    height: 6.7708333333vw;
    line-height: 6.7708333333vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_twitter a {
  background-color: #1da1f3;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_twitter a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("twitter.svg") no-repeat center;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_twitter a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_twitter a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_facebook a {
  background-color: #3c5999;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_facebook a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("facebook.svg") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_facebook a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_facebook a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_B a {
  background-color: #2c6ebe;
  font-weight: 500;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_B a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("blogger-logo.png") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_B a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_B a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_Pocket a {
  background-color: #ef4057;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_Pocket a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("pocket.svg") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_Pocket a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_Pocket a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_line a {
  background-color: #00c300;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_line a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background: url("line.svg") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_line a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_line a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.3020833333vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_kobi a {
  background-color: #333;
  font-weight: 500;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_kobi a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("copy-solid.png") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_kobi a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_kobi a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feedly a {
  background-color: #2bb24c;
  font-weight: 500;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feedly a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("Feedly.svg") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feedly a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feedly a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feed a {
  background-color: #f26522;
  font-weight: 500;
}
#wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feed a:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  background: url("Feed.svg") no-repeat center;
  background-size: cover;
  position: relative;
  top: 2px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feed a:before {
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    top: 0.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#blog_detail .inner .entry_content .sns_social ul li.share_feed a:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
    margin-right: 1.953125vw;
    top: 0.2604166667vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner {
  max-width: 1200px;
  width: 88.88%;
  margin: 0 auto 80px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner {
    max-width: 100%;
    margin: 0 auto 8vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner {
    margin: 0 auto 10.4166666667vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item {
  margin-bottom: 80px;
  overflow: hidden;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item {
    margin-bottom: 8vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item {
    margin-bottom: 10.461vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul {
    margin: 0 -1vw;
  }
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul {
    margin: 0 -1.302vw;
    width: 100%;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li {
  width: 32%;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li {
    width: 33.333%;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li {
    width: 50%;
    padding: 0 1.302vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .thumb {
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 60%;
  position: relative;
  width: 100%;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .thumb {
    margin-bottom: 1vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .thumb {
    margin-bottom: 1.302vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .thumb img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp {
    font-size: 1.4vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp {
    font-size: 1.823vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp h3 {
  word-break: break-all;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.38px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp h3 {
    font-size: 2.4vw;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp h3 {
    font-size: 2.864vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.38px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp p {
    font-size: 2.2vw;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp p {
    font-size: 2.864vw;
  }
}
#wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp p span.sold_out {
  background: #d90000;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  min-width: 75px;
  padding: 6px 12px;
  text-align: center;
  margin-left: 6px;
}
@media (max-width: 1000px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp p span.sold_out {
    border-radius: 1.2vw;
    font-size: 1.2vw;
    min-width: 7.5vw;
    padding: 0.6vw 1.2vw;
    margin-left: 0.6vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog_detail .inner section.section#related_post .inner .list_item ul li a .item_content .txt_desp p span.sold_out {
    border-radius: 1.822vw;
    font-size: 1.562vw;
    min-width: 9.765vw;
    padding: 0.781vw 1.526vw;
  }
}
.navi_top {
  width: 88.888% !important;
}