.upper .navi_top {
	width: 88.888%;
}
#wrapper.blog {
  padding-top: 12%;
}
#wrapper.blog .inner section.section#blog {
  background: transparent;
  padding: 0;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav {
  padding: 80px 0;
}
@media (max-width: 1000px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav {
    padding: 8vw 0;
  }
  #wrapper.blog {
  	padding-top: 16%;
  }
}
@media (max-width: 768px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav {
    padding: 10.4166666667vw 0;
  }
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul {
  text-align: center;
  display: inline-block;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 0;
  padding: 0 5px;
}
@media (max-width: 1000px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li {
    padding: 0 0.5vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li {
    padding: 0 0.6510416667vw;
  }
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li .page_num {
  border: 1px solid #ddd;
  color: #000000;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  text-align: center;
}
@media (max-width: 1000px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li .page_num {
    height: 4vw;
    line-height: 4vw;
    min-width: 4vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li .page_num {
    height: 5.2083333333vw;
    line-height: 5.2083333333vw;
    min-width: 5.2083333333vw;
  }
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li .page_num:hover {
  background-color: #006689;
  color: #fff;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li .page_num.current {
  background-color: #4DA2E2;
  color: #fff;
  border: 1px solid #4DA2E2;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li .page_num.current:hover {
  background-color: #4DA2E2;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a {
  font-size: 12px;
}
@media (max-width: 1000px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a {
    font-size: 1.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a {
    font-size: 1.5625vw;
  }
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.next:hover:before {
  background: url("../images/bx-chevron-right_wht.svg") no-repeat;
  background-size: 100% auto;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.next:before {
  content: "";
  background: url("../images/bx-chevron-right.svg") no-repeat;
  background-size: 100% auto;
  width: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: sub;
}
@media (max-width: 1000px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.next:before {
    width: 2vw;
    height: 2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.next:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.prev:hover:before {
  background: url("../images/bx-chevron-left_wht.svg") no-repeat;
  background-size: 100% auto;
}
#wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.prev:before {
  content: "";
  background: url("../images/bx-chevron-left.svg") no-repeat;
  background-size: 100% auto;
  width: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: sub;
}
@media (max-width: 1000px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.prev:before {
    width: 2vw;
    height: 2vw;
  }
}
@media (max-width: 768px) {
  #wrapper.blog .inner section.section#blog .inner .list_item .pagi_nav ul li a.prev:before {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}
