/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
.article-template__comment-wrapper {
  background-color: #f3f3f3;
  padding: 70px;
  margin-bottom: 70px;
}
.article-template__comment-wrapper #comments {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
}
.article-template__comment-wrapper #comments h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 45px;
  margin-bottom: 15px;
  text-align: left;
}
.article-template__comment-wrapper #comments .article-template__comments .article-template__comments-comment {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}
.article-template__comment-wrapper #comments .article-template__comments .article-template__comments-comment p {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}
.article-template__comment-wrapper #comments .article-template__comments .article-template__comments-comment .right {
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}
.article-template__comment-wrapper #comments .article-template__comments .article-template__comments-comment .right span.circle-divider {
  margin-right: 15px;
}
.article-template__comment-wrapper #comments .comment-form h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 45px;
  margin-bottom: 15px;
  text-align: left;
}
.article-template__comment-wrapper #comments .comment-form .form__message h3 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  line-height: 35px;
}
.article-template__comment-wrapper #comments .comment-form .form__message h3 svg {
  width: 15px;
}
.article-template__comment-wrapper #comments .comment-form .form-status-list {
  outline: none;
}
.article-template__comment-wrapper #comments .comment-form .form-status-list.form__message h3 {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  line-height: 35px;
}
.article-template__comment-wrapper #comments .comment-form .form-status-list.form__message h3 svg {
  width: 15px;
}
.article-template__comment-wrapper #comments .comment-form .form-status-list li a {
  color: #000;
  font-weight: 500;
  line-height: 25px;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields {
  margin-bottom: 30px;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .article-template__comment-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  margin-bottom: 15px;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .article-template__comment-fields .field.field--with-error .field__input {
  width: 100%;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .article-template__comment-fields .field.field--with-error .field__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .article-template__comment-fields .field.field--with-error small .form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .article-template__comment-fields .field.field--with-error small .form__message svg {
  width: 15px;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .field.field--with-error .text-area {
  resize: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid #a6a4a4;
  padding: 15px 10px;
  outline: none;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields .field.field--with-error .field__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields small .form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article-template__comment-wrapper #comments .comment-form .article-template__comments-fields small .form__message svg {
  width: 15px;
}
.article-template__comment-wrapper #comments .comment-form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 15px 35px;
  font-size: 18px;
}

.pagi_nav {
  padding: 20px 0;
}
