
/*
    footer
*/
footer#footer {
	color: rgb(var(--color-foreground));
   background: var(--gradient-background);
}

footer#footer {
  border-top: 1px solid #ebeef0;
}
footer#footer .inner {
  padding: 80px 0;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  footer#footer .inner {
    padding: 6vw 4vw;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  footer#footer .inner {
    padding: 6.25vw 5.208vw;
  }
}
footer#footer .inner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  footer#footer .inner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe {
    margin-bottom: 4vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe {
    margin-bottom: 5.208vw;
  }
}
footer#footer .inner .container .subscribe .content_sub {
  text-align: left;
}
footer#footer .inner .container .subscribe .content_sub .ttl_desp {
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .ttl_desp {
    margin-bottom: 3vw;
  }
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .ttl_desp {
    margin-bottom: 3.906vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .ttl_desp h3 {
  color: rgb(var(--color-foreground));
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .ttl_desp h3 {
    font-size: 2.1vw;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .ttl_desp h3 {
    font-size: 2.734vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .txt_desp {
  margin-bottom: 45px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .txt_desp {
    margin-bottom: 4.5vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .txt_desp {
    margin-bottom: 3.906vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .txt_desp p {
  color: rgb(var(--color-foreground));
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .txt_desp p {
    font-size: 2.1vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .txt_desp p {
    font-size: 2.734vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .form_sub {
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .form_sub {
    margin-bottom: 0.5vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .form_sub {
    margin-bottom: 0.651vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .form_sub form {
  position: relative;
}
footer#footer .inner .container .subscribe .content_sub .form_sub form input {
  padding: 16px;
  width: 100%;
  height: 45px;
  border-radius: 0;
  font-size: 14px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .form_sub form input {
    padding: 1.6vw;
    font-size: 1.4vw;
    height: 5.5vw;
    margin-bottom: 1.5vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .form_sub form input {
    font-size: 1.823vw;
    height: 7.161vw;
    padding: 2.083vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .form_sub form button {
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  padding: 0;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .form_sub form button {
    right: 0.5vw;
    width: 3vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .form_sub form button {
    right: 0.651vw;
    width: 3.90625vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .social_icon ul li a i {
  color: #000000;
}
footer#footer .inner .container .subscribe .content_sub .footer__localization {
  padding-top: 30px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization {
    padding-top: 3vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization {
    padding-top: 3.90625vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 1px solid #637381;
  padding: 10px 20px;
  margin-bottom: 5px;
  color: #31373d;
  cursor: pointer;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__button {
    padding: 1vw 2vw;
    margin-bottom: 0.5vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__button {
    padding: 1.3020833333vw 2.6041666667vw;
    margin-bottom: 0.6510416667vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__button svg {
  width: 12px;
  margin-left: 10px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__button svg {
    width: 1.2vw;
    margin-left: 1vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__button svg {
    width: 1.5625vw;
    margin-left: 1.3020833333vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 245px;
  border: 1px solid #dddddd;
  padding: 10px 20px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list {
    height: 20vw;
    width: 24.5vw;
    padding: 1vw 2vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list {
    height: 26.0416666667vw;
    width: 31.9010416667vw;
    padding: 1.3020833333vw 2.6041666667vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list .disclosure__item a {
  color: #919eab;
  font-size: 16px;
  line-height: 40px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list .disclosure__item a {
    font-size: 1.6vw;
    line-height: 4vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list .disclosure__item a {
    font-size: 2.0833333333vw;
    line-height: 5.2083333333vw;
  }
}
footer#footer .inner .container .subscribe .content_sub .footer__localization .shopify-localization-form .disclosure .disclosure__list .disclosure__item a:hover {
  color: #000000;
}
footer#footer .inner .container .category {
  width: 50%;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .category {
    width: 100%;
  }
}
footer#footer .inner .container .category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
footer#footer .inner .container .category ul li {
  text-align: left;
  width: 33.333%;
}
@media (max-width: 768px) {
  footer#footer .inner .container .category ul li {
    margin-bottom: 4.557vw;
  }
}
footer#footer .inner .container .category ul li .ttl_category {
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .category ul li .ttl_category {
    margin-bottom: 2vw;
  }
}
footer#footer .inner .container .category ul li .ttl_category h3 {
  color: rgb(var(--color-foreground));
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.43px;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .category ul li .ttl_category h3 {
    font-size: 2.2vw;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .category ul li .ttl_category h3 {
    font-size: 3.255vw;
  }
}
footer#footer .inner .container .category ul li .txt_category p {
  color: rgb(var(--color-foreground));
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  footer#footer .inner .container .category ul li .txt_category p {
    font-size: 1.6vw;
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  footer#footer .inner .container .category ul li .txt_category p {
    font-size: 2.604vw;
    margin-bottom: 2.604vw;
  }
}
footer#footer .copyright {
  border-top: 1px solid #c6c6c6;
  padding: 25px 0;
}
@media (max-width: 1000px) {
  footer#footer .copyright {
    padding: 2.5vw 4vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright {
    padding: 3.255vw 5.208vw;
  }
}
footer#footer .copyright .container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container {
    max-width: 100%;
  }
}
footer#footer .copyright .container .footer__localization {
  position: relative;
}
footer#footer .copyright .container .footer__localization .visually-hidden {
  font-size: 12px;
  text-align: left;
  line-height: 20px;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__localization .visually-hidden {
    font-size: 1.2vw;
    line-height: 2vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__localization .visually-hidden {
    font-size: 1.5625vw;
    line-height: 2.6041666667vw;
  }
}
footer#footer .copyright .container .footer__localization .disclosure__button {
  background: transparent;
  border: 1px solid #787b7e;
  position: relative;
  min-width: 200px;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__localization .disclosure__button {
    min-width: 20vw;
    padding: 1vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__localization .disclosure__button {
    min-width: 26.0416666667vw;
    padding: 1.3020833333vw;
  }
}
footer#footer .copyright .container .footer__localization .disclosure__button::after {
  content: '';
  border-left: 2px solid #787b7e;
  border-bottom: 2px solid #787b7e;
  width: 6px;
  right: 10px;
  height: 6px;
  top: 11px;
  position: absolute;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__localization .disclosure__button::after {
    width: 0.6vw;
    right: 1vw;
    height: 0.6vw;
    top: 1.1vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__localization .disclosure__button::after {
    width: 0.78125vw;
    right: 1.3020833333vw;
    height: 0.78125vw;
    top: 1.4322916667vw;
  }
}
footer#footer .copyright .container .footer__localization .disclosure__list {
  height: 200px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 250px;
  border: 1px solid #ddd;
  position: absolute;
  background: #fff;
  bottom: 50px;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__localization .disclosure__list {
    height: 20vw;
    width: 25vw;
    bottom: 5vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__localization .disclosure__list {
    height: 26.0416666667vw;
    width: 32.5520833333vw;
    bottom: 6.5104166667vw;
  }
}
footer#footer .copyright .container .footer__localization .disclosure__list .disclosure__item {
  padding: 10px;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__localization .disclosure__list .disclosure__item {
    padding: 1vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__localization .disclosure__list .disclosure__item {
    padding: 1.3020833333vw;
  }
}
footer#footer .copyright .container .footer__localization .disclosure__list .disclosure__item a {
  color: #666666;
}
footer#footer .copyright .container .footer__column--info .footer__payment {
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__column--info .footer__payment {
    margin-bottom: 1vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__column--info .footer__payment {
    margin-bottom: 1.3020833333vw;
  }
}
footer#footer .copyright .container .footer__column--info .footer__payment .list-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer#footer .copyright .container .footer__column--info .footer__payment .list-payment .list-payment__item {
  margin-right: 15px;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__column--info .footer__payment .list-payment .list-payment__item {
    margin-right: 1.5vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__column--info .footer__payment .list-payment .list-payment__item {
    margin-right: 1.953125vw;
  }
}
footer#footer .copyright .container .footer__column--info .footer__copyright {
  font-size: 12px;
}
@media (max-width: 1000px) {
  footer#footer .copyright .container .footer__column--info .footer__copyright {
    font-size: 1.2vw;
  }
}
@media (max-width: 768px) {
  footer#footer .copyright .container .footer__column--info .footer__copyright {
    font-size: 1.5625vw;
  }
}
footer#footer .copyright .container .footer__column--info .footer__copyright .copyright__content a {
  color: #666666;
}
