/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
/*
	header
*/
header.header {
	color: rgb(var(--color-foreground));
   background: var(--gradient-background);
}
header.header {
  position: relative;
}
header.header > .inner {
  position: fixed;
  width: 100%;
  z-index: 999;
}
header.header > .inner .header_top {
  position: relative;
  color: #fff;
  background: #000000;
  z-index: 9;
}
header.header > .inner .header_top .header_top_content {
  max-width: 1200px;
  min-height: 60px;
  width: 88.888%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content {
    max-width: 100%;
    min-height: 6vw;
  }
}
@media (max-width: 768px) {
  header.header > .inner .header_top .header_top_content {
    min-height: 7.8125vw;
  }
}
header.header > .inner .header_top .header_top_content .header_description {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content .header_description {
    font-size: 1.6vw;
    line-height: 2vw;
  }
}
@media (max-width: 768px) {
  header.header > .inner .header_top .header_top_content .header_description {
    font-size: 2.083vw;
    line-height: 2.604vw;
  }
}
header.header > .inner .header_top .header_top_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul {
    margin: 0 -1vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li {
  padding: 0 12px;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li {
    padding: 0 1.2vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li a {
    font-size: 1.4vw;
    line-height: 2vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li a:hover {
  color: #999999;
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content {
  width: 0;
  overflow: hidden;
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content form #header_upper_search__input {
  width: 280px;
  border: none;
  background: #dddddd;
  height: 40px;
  cursor: text;
  outline-style: none;
  border-radius: 0;
  padding: 10px;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content form #header_upper_search__input {
    width: 30vw;
    height: 4vw;
    font-size: 1.4vw;
    padding: 1vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content form .p-header__upper-search__submit {
  display: none;
}
@media (max-width: 768px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content form {
    margin: 0.521vw 0;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content.show {
  width: 280px;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #header_upper_search_form.search_content.show {
    width: 30vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search .icon_button {
  background-color: #000000;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #btn {
  background-color: #000000;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 15px;
  margin-top: 5px;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #btn {
    padding-left: 1.5vw;
    margin-top: 0.5vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li#header_upper-search #btn img:hover {
  -webkit-filter: invert(0.6) sepia(1) saturate(0) hue-rotate(175deg);
          filter: invert(0.6) sepia(1) saturate(0) hue-rotate(175deg);
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a {
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a .header_welcart_cart_badge {
  margin-top: 5px;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a .header_welcart_cart_badge {
    margin-top: 0.5vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a .cart-count-bubble {
  position: absolute;
  top: -2px;
  right: -8px;
}
@media (max-width: 1000px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a .cart-count-bubble {
    top: -0.2vw;
    right: -0.8vw;
  }
}
@media (max-width: 768px) {
  header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a .cart-count-bubble {
    top: -0.2604166667vw;
    right: -1.0416666667vw;
  }
}
header.header > .inner .header_top .header_top_content ul.header_top_nav li.header_welcart_cart a:hover {
  color: #999999;
  -webkit-filter: invert(0.6) sepia(1) saturate(0) hue-rotate(175deg);
          filter: invert(0.6) sepia(1) saturate(0) hue-rotate(175deg);
}

header .inner .header_main {
  background-color: #ffffff;
}
header .inner .header_main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 88.888%;
  max-width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}
@media (max-width: 1000px) {
  header .inner .header_main nav {
    max-width: 100%;
    height: 9vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav {
    max-width: 100%;
    height: 9.125vw;
  }
}
header .inner .header_main nav .logo {
  width: 135px;
  margin: 0;
  line-height: 1;
  margin-right: 30px;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .logo {
    width: 13.5vw;
    margin-right: 3vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .logo {
    width: 15.885vw;
    margin-right: 3.125vw;
  }
}
header .inner .header_main nav .logo a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .logo a {
    font-size: 3.2vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .logo a {
    font-size: 3.334vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #nav_toggle {
    display: block;
    position: fixed;
    right: 4vw;
    top: 8.5vw;
    width: 53px;
    height: 5.7vw;
    cursor: pointer;
    z-index: 1001;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #nav_toggle {
    width: 4.166vw;
    right: 5.208vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #nav_toggle div {
    position: relative;
    top: 1.9vw;
    right: 0;
    width: 3.5vw;
    left: 0;
    margin: auto;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #nav_toggle div span {
    display: block;
    position: absolute;
    height: 0.3vw;
    width: 100%;
    background: #000000;
    left: 0;
    zoom: 1;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  header .inner .header_main nav .nav_main_top #nav_toggle div span:nth-child(1) {
    top: 0;
  }
  header .inner .header_main nav .nav_main_top #nav_toggle div span:nth-child(2) {
    top: 8px;
  }
  header .inner .header_main nav .nav_main_top #nav_toggle div span:nth-child(3) {
    top: 16px;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #nav_toggle div span {
    width: 100%;
    height: 2px;
  }
  header .inner .header_main nav .nav_main_top #nav_toggle div span:nth-child(1) {
    top: 0;
  }
  header .inner .header_main nav .nav_main_top #nav_toggle div span:nth-child(2) {
    top: 1.031vw;
  }
  header .inner .header_main nav .nav_main_top #nav_toggle div span:nth-child(3) {
    top: 2.1vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #global_nav {
    visibility: hidden;
    position: absolute;
    vertical-align: middle;
    color: #3E3E3E;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 540px;
    text-align: center;
    padding: 101px 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #global_nav {
    padding: 14.1vw 8.695vw;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item {
    padding-top: 3.5vw;
    text-align: left;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item {
    padding-top: 0;
    margin-left: 0;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu {
  margin: 0 15px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 0;
  position: relative;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu {
    text-align: center;
    margin: 0 1.5vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu {
    margin: 0 1.953vw;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 10px 0;
  text-transform: uppercase;
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a:hover {
  color: #999999;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a {
    font-size: 1.4vw;
    padding: 1vw 0;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a {
    font-size: 1.823vw;
    padding: 1.302vw 0;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a:first-child {
  margin-left: 0;
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a.menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
      justify-content: center;
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a.menu_wrapper::after {
  content: '';
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 5px;
  right: -15px;
  height: 5px;
  top: 13px;
  position: absolute;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a.menu_wrapper::after {
    display: none;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu a.menu_wrapper:hover {
  color: #999999;
  -webkit-filter: invert(0.6) sepia(1) saturate(0) hue-rotate(175deg);
          filter: invert(0.6) sepia(1) saturate(0) hue-rotate(175deg);
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu:hover .list_menu_child {
  display: block;
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child {
  text-align: left;
  border: 1px solid #dddddd;
  position: absolute;
  min-width: 190px;
  background: #fff;
  display: none;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child {
    min-width: 19vw;
    display: block;
    border: none;
    position: unset;
    padding-left: 4.5vw;

  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child {
    min-width: 24.7395833333vw;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child .menu_child_item {
  padding: 10px 20px;
}
@media (max-width: 1024px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child .menu_child_item {
    padding: 1vw 2vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child .menu_child_item {
    padding: 1.3020833333vw 2.6041666667vw;
  }
}
header .inner .header_main nav .nav_main_top #global_nav .list_item .item_menu .list_menu_child .menu_child_item a {
  text-transform: uppercase;
}
header .inner .header_main nav .nav_main_top #global_nav .header_logo {
  opacity: 0;
}
@media (max-width: 1000px) {
  header .inner .header_main nav .nav_main_top #nav_bg {
    width: 100%;
    max-width: 540px;
    height: 3300px;
    right: -100%;
    bottom: 0;
    display: block;
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px #00000029;
            box-shadow: 0px 0px 10px #00000029;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #nav_toggle {
    background: #ffffff;
    width: 5.3vw;
    height: 5.3vw;
    top: 8.5vw;
    right: 4.3vw;
    padding: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav.open #nav_toggle {
    right: 5.208vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #nav_toggle > div {
    width: 3.6vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #nav_toggle > div span {
    height: 0.25vw;
  }
  header .inner .header_main nav.open #nav_toggle > div span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    zoom: 1;
  }
  header .inner .header_main nav.open #nav_toggle > div span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  header .inner .header_main nav.open #nav_toggle > div span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    zoom: 1;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav.open #nav_toggle > div span {
    height: 0.25vw;
  }
  header .inner .header_main nav.open #nav_toggle > div span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    zoom: 1;
  }
  header .inner .header_main nav.open #nav_toggle > div span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  header .inner .header_main nav.open #nav_toggle > div span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    zoom: 1;
  }
}
header .inner .header_main nav.open #global_nav {
  z-index: 9;
  visibility: visible;
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #global_nav {
    padding: 17.1vw 2.604vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav.open #global_nav {
    padding: 20.1vw 8.695vw;
  }
}
header .inner .header_main nav.open #global_nav .list_item {
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  width: 100%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #global_nav .list_item {
    padding-top: 5.729vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav.open #global_nav .list_item {
    padding-top: 7.729vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #global_nav .list_item .item_menu {
    margin-bottom: 4.9vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav.open #global_nav .list_item .item_menu {
    margin-bottom: 5.598vw;
  }
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #global_nav .list_item .item_menu a {
    color: #000000;
    font-size: 3.1vw;
    letter-spacing: 0.3px;
    margin-bottom: 4vw;
    text-transform: uppercase;
    font-weight: 500;
  }
  header .inner .header_main nav.open #global_nav .list_item .item_menu a:hover {
    color: #999999;
  }
}
header .inner .header_main nav.open #global_nav .list_item .item_menu a.menu_wrapper img {
  width: 3vw;
}
header .inner .header_main nav.open #global_nav .list_item .item_menu .list_menu_child {
  z-index: 99;
}
header .inner .header_main nav.open #global_nav .list_item .item_menu .list_menu_child .menu_child_item a {
  text-transform: uppercase;
}
header .inner .header_main nav.open #global_nav .header_logo {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  opacity: 1;
}
@media (max-width: 1000px) {
  header .inner .header_main nav.open #global_nav .header_logo {
    margin: 0 auto 3.9vw;
    width: 22vw;
  }
}
@media (max-width: 768px) {
  header .inner .header_main nav.open #global_nav .header_logo {
    width: 24.154vw;
    margin: 0 auto 5.024vw;
  }
}
header .inner .header_main nav.open #nav_bg {
  right: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.header_top_nav .visually-hidden {
	width: auto;
  	height: auto;
}