/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
#wrapper .inner {
  padding-top: 15%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  #wrapper .inner {
    max-width: 100%;
  }
}

.list_order_history li {
  border-bottom: 1px solid #D6D6D6;
}

.list_order_history li .item_my_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 22px 0;
}

@media (max-width: 1000px) {
  .list_order_history li .item_my_page {
    padding: 2.2vw 0;
  }
}
@media (max-width: 768px) {
  .list_order_history li .item_my_page {
    padding: 2.864vw 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.list_order_history li .item_my_page .info_order_history h3 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

@media (max-width: 1000px) {
  .list_order_history li .item_my_page .info_order_history h3 {
    margin-bottom: 1.6vw;
    font-size: 1.6vw;
    line-height: 3vw;
  }
}
@media (max-width: 768px) {
  .list_order_history li .item_my_page .info_order_history h3 {
    margin-bottom: 2.083vw;
    font-size: 2.083vw;
    line-height: 3.906vw;
  }
}
.list_order_history li .item_my_page .info_order_history h3 .send {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #545857;
  margin-left: 22px;
  display: inline-block;
}

@media (max-width: 1000px) {
  .list_order_history li .item_my_page .info_order_history h3 .send {
    font-size: 1.8vw;
    line-height: 3vw;
    margin-left: 2.2vw;
  }
}
@media (max-width: 768px) {
  .list_order_history li .item_my_page .info_order_history h3 .send {
    font-size: 2.343vw;
    line-height: 3.906vw;
    margin-left: 2.864vw;
  }
}
.list_order_history li .item_my_page .info_order_history span {
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 500;
  display: block;
}

@media (max-width: 1000px) {
  .list_order_history li .item_my_page .info_order_history span {
    font-size: 1.4vw;
    line-height: 1.9vw;
    margin-bottom: 0.6vw;
  }
}
@media (max-width: 768px) {
  .list_order_history li .item_my_page .info_order_history span {
    font-size: 1.823vw;
    line-height: 2.474vw;
    margin-bottom: 0.781vw;
  }
}
.list_order_history li .item_my_page .btn_short {
  width: 175px;
  height: 50px;
  color: #000000;
  line-height: 50px;
  text-align: center;
  border-radius: 7px;
  margin-top: 25px;
  border: 1px solid;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .list_order_history li .item_my_page .btn_short {
    width: 17.5vw;
    line-height: 5vw;
    height: 5vw;
    border-radius: 0.7vw;
    margin-top: 2.5vw;
    font-size: 1.6vw;
  }
}
@media (max-width: 768px) {
  .list_order_history li .item_my_page .btn_short {
    width: 22.786vw;
    height: 6.510vw;
    border-radius: 0.915vw;
    line-height: 6.510vw;
    margin-top: 3.255vw;
    font-size: 2.083vw;
  }
}
.list_order_history li .item_my_page .btn_short:hover {
  color: #fff;
  background-color: #000000;
}

.list_order_history li:last-child {
  border: none;
}
