.upper .navi_top {
	width: 88.888%;
}
@media print {
  img {
    display: none;
  }
}
#wrapper > .inner {
  padding-top: 15%;
}

#wrapper > .inner .reset-password {
  background: #f7f7f7;
  max-width: 1200px;
  margin: 0 auto 80px;
  width: 88.888%;
  padding: 60px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password {
    max-width: 100%;
    margin: 0 auto 8vw;
    padding: 6vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password {
    margin: 0 auto 10.4166666667vw;
    padding: 7.8125vw;
  }
}

#wrapper > .inner .reset-password h1 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 30px;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password h1 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    line-height: 3vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password h1 {
    font-size: 3.90625vw;
    margin-bottom: 1.953125vw;
    line-height: 3.90625vw;
  }
}

#wrapper > .inner .reset-password p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password p {
    font-size: 1.6vw;
    margin-bottom: 3vw;
    line-height: 2vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password p {
    font-size: 2.604vw;
    margin-bottom: 3.90625vw;
    line-height: 2.6041666667vw;
  }
}

#wrapper > .inner .reset-password form {
  max-width: 500px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form {
    max-width: 50vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form {
    max-width: 65.1041666667vw;
  }
}

#wrapper > .inner .reset-password form h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline-style: none;
  margin-bottom: 20px;
  font-weight: 600;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form h2 {
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form h2 {
    margin-bottom: 2.6041666667vw;
  }
}

#wrapper > .inner .reset-password form h2 svg {
  width: 15px;
  height: 15px;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form h2 svg {
    width: 1.5vw;
    height: 1.5vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form h2 svg {
    width: 1.953125vw;
    height: 1.953125vw;
  }
}

#wrapper > .inner .reset-password form .field {
  text-align: left;
  margin-bottom: 25px;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form .field {
    margin-bottom: 2.5vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form .field {
    margin-bottom: 3.2552083333vw;
  }
}

#wrapper > .inner .reset-password form .field label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  display: inline-block;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form .field label {
    font-size: 1.6vw;
    line-height: 2vw;
    margin-bottom: 0.5vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form .field label {
    font-size: 3.225vw;
    line-height: 2.6041666667vw;
    margin-bottom: 0.6510416667vw;
  }
}

#wrapper > .inner .reset-password form .field input {
  margin-bottom: 10px;
  font-size: 12px;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form .field input {
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form .field input {
    margin-bottom: 1.3020833333vw;
    font-size: 1.5625vw;
  }
}

#wrapper > .inner .reset-password form button {
  background-color: #000000;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1000px) {
  #wrapper > .inner .reset-password form button {
    font-size: 1.6vw;
    padding: 1vw 2vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner .reset-password form button {
    font-size: 2.0833333333vw;
    padding: 1.3020833333vw 2.6041666667vw;
  }
}

.form__message svg {
  width: 15px;
  height: 15px;
}
@media (max-width: 1000px) {
  .form__message svg {
    width: 1.5vw;
    height: 1.5vw;
  }
}
@media (max-width: 768px) {
  .form__message svg {
    width: 1.953125vw;
    height: 1.953125vw;
  }
}

.form__message {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .form__message {
    font-size: 1.4vw;
  }
}
@media (max-width: 768px) {
  .form__message {
    font-size: 1.8229166667vw;
  }
}
