/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
.pickup-availability-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pickup-availability-preview svg {
  width: 20px;
  height: 20px;
}
@media (max-width: 1000px) {
  .pickup-availability-preview svg {
    width: 2vw;
    height: 2vw;
  }
}
@media (max-width: 768px) {
  .pickup-availability-preview svg {
    width: 2.6041666667vw;
    height: 2.6041666667vw;
  }
}
.pickup-availability-preview .pickup-availability-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pickup-availability-preview .pickup-availability-info .caption-large {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .pickup-availability-preview .pickup-availability-info .caption-large {
    font-size: 1.4vw;
    margin-right: 1vw;
  }
}
@media (max-width: 768px) {
  .pickup-availability-preview .pickup-availability-info .caption-large {
    font-size: 1.8229166667vw;
    margin-right: 1.3020833333vw;
  }
}
.pickup-availability-preview .pickup-availability-info .pickup-availability-button {
  background: none;
  border: 1px solid;
  padding: 5px 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .pickup-availability-preview .pickup-availability-info .pickup-availability-button {
    padding: 0.5vw 1vw;
  }
}
@media (max-width: 768px) {
  .pickup-availability-preview .pickup-availability-info .pickup-availability-button {
    padding: 0.6510416667vw 1.3020833333vw;
  }
}
