@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
#wrapper.register {
  padding-top: 14%; }
  #wrapper.register section.section#content .inner {
    max-width: 1200px;
    width: 88.888%;
    margin: 0 auto 80px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    @media (max-width: 1000px) {
      #wrapper.register section.section#content .inner {
        max-width: 100%;
        margin: 0 auto 8vw; } }
    @media (max-width: 768px) {
      #wrapper.register section.section#content .inner {
        max-width: 100%;
        margin: 0 auto 10.416vw; } }
    #wrapper.register section.section#content .inner .register_wrapper {
      background: #f7f7f7;
      padding: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 1000px) {
        #wrapper.register section.section#content .inner .register_wrapper {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 7vw; } }
      @media (max-width: 768px) {
        #wrapper.register section.section#content .inner .register_wrapper {
          padding: 9.145vw; } }
      #wrapper.register section.section#content .inner .register_wrapper .register_form {
        width: 50%; }
        @media (max-width: 1000px) {
          #wrapper.register section.section#content .inner .register_wrapper .register_form {
            width: 100%;
            border-bottom: 1px solid #D6D6D6;
            padding-bottom: 4vw;
            margin-bottom: 4vw; } }
        #wrapper.register section.section#content .inner .register_wrapper .register_form h3 {
          font-size: 24px;
          line-height: 31px;
          margin-bottom: 30px;
          font-weight: 700;
          text-align: center; }
          @media (max-width: 1000px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form h3 {
              font-size: 4.1vw;
              line-height: 5.1vw;
              margin-bottom: 3vw; } }
          @media (max-width: 768px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form h3 {
              font-size: 5.208vw;
              line-height: 6.510vw;
              margin-bottom: 3.906vw; } }
        #wrapper.register section.section#content .inner .register_wrapper .register_form form ul li {
          margin-bottom: 20px;
          padding: 0 40px; }
          @media (max-width: 1000px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form form ul li {
              margin-bottom: 2.5vw;
              padding: 0 4vw; } }
          @media (max-width: 768px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form form ul li {
              margin-bottom: 3.255vw;
              padding: 0 5.208vw; } }
          #wrapper.register section.section#content .inner .register_wrapper .register_form form ul li a {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 13px;
            font-weight: 500;
            color: #000000; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form form ul li a {
                font-size: 1.8vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form form ul li a {
                font-size: 2.343vw; } }
        #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register {
          padding: 0 40px; }
          @media (max-width: 1000px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register {
              padding: 0 4vw; } }
          @media (max-width: 768px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register {
              padding: 0 5.208vw; } }
          #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register button {
            width: 100%;
            padding: 18px;
            font-size: 16px;
            margin-bottom: 25px;
            color: #fff;
            cursor: pointer;
            background: #000000;
            border: none; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register button {
                width: 100%;
                padding: 1.9vw;
                font-size: 2.6vw;
                margin-bottom: 2.5vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register button {
                padding: 2.473vw;
                font-size: 3.385vw;
                margin-bottom: 3.255vw; } }
          #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm {
            margin-bottom: 20px; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm {
                margin-bottom: 2vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm {
                margin-bottom: 2.604vw; } }
            #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input {
              margin: 0 auto;
              display: inline-block;
              position: relative;
              padding: 0 0 20px 20px;
              outline: none;
              line-height: 30px;
              vertical-align: middle;
              font-weight: 500; }
              @media (max-width: 1000px) {
                #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input {
                  padding: 0 0 2vw 2vw;
                  line-height: 3vw; } }
              @media (max-width: 768px) {
                #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input {
                  padding: 0 0 2.604vw 2.604vw;
                  line-height: 3.906vw; } }
              #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input::before {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                border: 1px solid #121212;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer; }
                @media (max-width: 1000px) {
                  #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input::before {
                    width: 1.5vw;
                    height: 1.5vw; } }
                @media (max-width: 768px) {
                  #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input::before {
                    width: 1.953vw;
                    height: 1.953vw; } }
              #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input:checked::after {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                background-image: url(../images/check_white.png);
                position: absolute;
                top: 0;
                left: 0;
                background-size: 100% auto;
                background-color: #000000;
                border: 1px solid #121212;
                cursor: pointer; }
                @media (max-width: 1000px) {
                  #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input:checked::after {
                    width: 1.5vw;
                    height: 1.5vw; } }
                @media (max-width: 768px) {
                  #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm input:checked::after {
                    width: 1.953vw;
                    height: 1.953vw; } }
            #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm label {
              vertical-align: middle;
              font-size: 12px;
              line-height: 20px;
              font-weight: 500; }
              @media (max-width: 1000px) {
                #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm label {
                  font-size: 1.6vw;
                  line-height: 2vw; } }
              @media (max-width: 768px) {
                #wrapper.register section.section#content .inner .register_wrapper .register_form form .btn_register .txt_confirm label {
                  font-size: 2.083vw;
                  line-height: 2.604vw; } }
        #wrapper.register section.section#content .inner .register_wrapper .register_form .rules_information {
          width: 100%;
          margin: 0 auto;
          padding: 0 40px; }
          @media (max-width: 1000px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form .rules_information {
              padding: 0 4vw; } }
          @media (max-width: 768px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_form .rules_information {
              padding: 0 5.208vw; } }
          #wrapper.register section.section#content .inner .register_wrapper .register_form .rules_information p {
            font-size: 12px;
            line-height: 20px;
            font-weight: 600;
            color: #000000;
            margin-bottom: 20px;
            text-align: left; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form .rules_information p {
                font-size: 1.8vw;
                line-height: 2.6vw;
                margin-bottom: 2vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_form .rules_information p {
                font-size: 2.343vw;
                line-height: 3.385vw;
                margin-bottom: 2.604vw; } }
      #wrapper.register section.section#content .inner .register_wrapper .register_sns {
        width: 50%;
        border-left: 1px solid #D6D6D6; }
        @media (max-width: 1000px) {
          #wrapper.register section.section#content .inner .register_wrapper .register_sns {
            width: 100%;
            border-left: none; } }
        #wrapper.register section.section#content .inner .register_wrapper .register_sns h3 {
          font-size: 21px;
          line-height: 31px;
          margin-bottom: 30px;
          font-weight: 700;
          text-align: center; }
          @media (max-width: 1000px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_sns h3 {
              font-size: 4.1vw;
              line-height: 5.1vw;
              margin-bottom: 3vw; } }
          @media (max-width: 768px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_sns h3 {
              font-size: 5.208vw;
              line-height: 7.8125vw;
              margin-bottom: 3.906vw; } }
        #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li {
          margin-bottom: 20px; }
          @media (max-width: 1000px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li {
              margin-bottom: 2vw; } }
          @media (max-width: 768px) {
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li {
              margin-bottom: 2.604vw; } }
          #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn {
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%;
            max-width: 350px;
            height: 65px;
            border-radius: 7px;
            color: #fff;
            font-size: 20px;
            text-transform: none;
            letter-spacing: 1.6px;
            position: relative;
            padding: 8px 5px;
            font-weight: 700;
            border: none; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn {
                max-width: 100%;
                height: 7.5vw;
                border-radius: 0.7vw;
                font-size: 2.4vw;
                letter-spacing: 0.16vw;
                padding: 0.8vw 0.5vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn {
                height: 9.765vw;
                border-radius: 0.911vw;
                font-size: 3.125vw;
                letter-spacing: 0.13vw;
                padding: 1.041vw 0.65vw; } }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.facebook {
              background-color: #4267B2; }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.twitter {
              background-color: #55ADEF; }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.instagram {
              background-color: #40729C; }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.amazon {
              background-color: #FF9902; }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.line {
              background-color: #4BC104; }
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.line img {
                width: 35px;
                height: 35px; }
                @media (max-width: 1000px) {
                  #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.line img {
                    width: 4.5vw;
                    height: 4.5vw; } }
                @media (max-width: 768px) {
                  #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.line img {
                    width: 5.859vw;
                    height: 5.859vw; } }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.spotify {
              background-color: #000000; }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.google {
              background-color: #DD4B39; }
            #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn.linkedin {
              background-color: #007CB6; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn i {
                font-size: 3.4vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a.btn i {
                font-size: 4.427vw; } }
          #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a span {
            width: 270px;
            padding-left: 20px;
            text-align: left;
            letter-spacing: -0.1px; }
            @media (max-width: 1000px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a span {
                width: 65%;
                padding-left: 7vw; } }
            @media (max-width: 768px) {
              #wrapper.register section.section#content .inner .register_wrapper .register_sns .vertical_list_register li a span {
                padding-left: 9.115vw; } }
