@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
#wrapper.reset_password {
  padding-top: 14%; }
  #wrapper.reset_password section.section#content .inner {
    max-width: 1200px;
    width: 88.888%;
    margin: 0 auto 80px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    @media (max-width: 1000px) {
      #wrapper.reset_password section.section#content .inner {
        max-width: 100%;
        margin: 0 auto 8vw; } }
    @media (max-width: 768px) {
      #wrapper.reset_password section.section#content .inner {
        margin: 0 auto 10.416vw; } }
    #wrapper.reset_password section.section#content .inner .reset_password_wrapper {
      background: #f7f7f7;
      padding: 70px; }
      @media (max-width: 1000px) {
        #wrapper.reset_password section.section#content .inner .reset_password_wrapper {
          padding: 7vw; } }
      @media (max-width: 768px) {
        #wrapper.reset_password section.section#content .inner .reset_password_wrapper {
          padding: 9.115vw; } }
      #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form h3 {
        font-size: 30px;
        line-height: 35px;
        font-weight: 700;
        margin-bottom: 30px; }
        @media (max-width: 1000px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form h3 {
            font-size: 4.1vw;
            line-height: 5.1vw;
            margin-bottom: 3vw; } }
        @media (max-width: 768px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form h3 {
            font-size: 5.208vw;
            line-height: 5.859vw;
            margin-bottom: 3.906vw; } }
      #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 30px; }
        @media (max-width: 1000px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form p {
            font-size: 2.4vw;
            line-height: 3.2vw;
            margin-bottom: 3vw; } }
        @media (max-width: 768px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form p {
            font-size: 3.125vw;
            line-height: 3.906vw;
            margin-bottom: 3.906vw; } }
      #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form ul li {
        margin-bottom: 20px;
        padding: 0 25%; }
        @media (max-width: 1000px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form ul li {
            margin-bottom: 1.4vw;
            padding: 0; } }
        @media (max-width: 768px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form ul li {
            margin-bottom: 1.822vw;
            padding: 0; } }
        #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form ul li input {
          width: 100%;
          height: 65px;
          border-radius: 5px;
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 15px;
          font-weight: 500; }
          @media (max-width: 1000px) {
            #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form ul li input {
              height: 7.5vw;
              border-radius: 0.5vw;
              font-size: 2.2vw;
              line-height: 3vw;
              margin-bottom: 2.5vw; } }
          @media (max-width: 768px) {
            #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form ul li input {
              height: 8.463vw;
              border-radius: 0.651vw;
              font-size: 2.604vw;
              line-height: 3.255vw;
              margin-bottom: 3.125vw; } }
      #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form .container_login .btn_reset {
        width: 50%;
        height: 65px;
        background-color: #000000;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        line-height: 55px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        margin-bottom: 9px; }
        @media (max-width: 1000px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form .container_login .btn_reset {
            width: 100%;
            height: 7.5vw;
            font-size: 2.4vw;
            line-height: 5.5vw;
            border-radius: 0.4vw;
            margin-bottom: 0.9vw; } }
        @media (max-width: 768px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form .container_login .btn_reset {
            width: 100%;
            height: 8.463vw;
            font-size: 3.125vw;
            line-height: 7.161vw;
            border-radius: 0.521vw;
            margin-bottom: 1.172vw; } }
      #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form .special_word {
        color: #000000;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        cursor: pointer; }
        @media (max-width: 1000px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form .special_word {
            font-size: 2.4vw;
            line-height: 3vw; } }
        @media (max-width: 768px) {
          #wrapper.reset_password section.section#content .inner .reset_password_wrapper .reset_password_form form .special_word {
            font-size: 2.604vw;
            line-height: 3.125vw; } }
