.rich-text__wrapper {
  text-align: center;
  padding: 50px 0;
  max-width: 1200px;
  width: 88.888%;
  margin: 0 auto 30px;
}
@media (max-width: 1000px) {
  .rich-text__wrapper {
    padding: 5vw 0;
    max-width: 100%;
    margin: 0 auto 3vw;
  }
}
@media (max-width: 768px) {
  .rich-text__wrapper {
    padding: 6.5104166667vw 0;
    margin: 0 auto 3.906vw;
  }
}
.rich-text__wrapper .rich-text__content .rich-text__blocks {
  width: 700px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks {
    width: 70vw;
  }
}
@media (max-width: 768px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks {
    width: 100%;
  }
}
.rich-text__wrapper .rich-text__content .rich-text__blocks h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks h2 {
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 2vw;
  }
}
@media (max-width: 768px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks h2 {
    font-size: 5.2083333333vw;
    line-height: 6.5104166667vw;
    margin-bottom: 2.6041666667vw;
  }
}
.rich-text__wrapper .rich-text__content .rich-text__blocks .rich-text__text {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks .rich-text__text {
    font-size: 1.8vw;
    line-height: 2.5vw;
    margin-bottom: 3vw;
  }
}
@media (max-width: 768px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks .rich-text__text {
    font-size: 2.34375vw;
    line-height: 3.2552083333vw;
    margin-bottom: 3.90625vw;
  }
}
.rich-text__wrapper .rich-text__content .rich-text__blocks .rich-text__button {
  background: #656566;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  font-size: 22px;
}
@media (max-width: 1000px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks .rich-text__button {
    padding: 1.5vw 2.5vw;
    font-size: 2.2vw;
  }
}
@media (max-width: 768px) {
  .rich-text__wrapper .rich-text__content .rich-text__blocks .rich-text__button {
    padding: 1.953125vw 3.2552083333vw;
    font-size: 2.8645833333vw;
  }
}
