.template-search {
  padding-top: 15%;
  max-width: 1200px;
  margin: 0 auto;
  width: 88.888%;
}
.template-search .template-search__header {
  margin-bottom: 80px;
}
.template-search .template-search__header .h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 30px;
}
.template-search .template-search__header .template-search__search form {
  max-width: 500px;
  margin: 0 auto;
}
.template-search .template-search__header .template-search__search form .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.template-search .template-search__header .template-search__search form .field .search__input {
  width: 100%;
  height: 55px;
  border: 1px solid;
  padding: 15px;
}
.template-search .template-search__header .template-search__search form .field label {
  position: absolute;
  left: 15px;
  top: 6px;
  font-size: 12px;
}
.template-search .template-search__header .template-search__search form .field button {
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 20px;
  background: none;
}
.template-search .template-search__header .template-search__search form .field button svg {
  width: 15px;
}
